* {
    background-color: #A9927D;
}

#timer {
    background-color: #5E503F;
    width: 490px;
    height: 375px;
    border-radius: 10px;
}

#display {
    background-color: #F2F4F3;
    width: 490px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.7;  
}

.timerBtn {
    display: inline-flex;
    margin: 5px;
    position: relative;
    background-color: #22333B;
    color: #0A0908;
    width: 150px;
    height: 75px;
    border-radius: 10px;
    font-size: x-large;
    justify-content: center;
    padding: 15px 10px;
}