/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    background-color: #A9927D;
}

#timer {
    background-color: #5E503F;
    width: 490px;
    height: 375px;
    border-radius: 10px;
    position: absolute;
    margin:auto auto;
    z-index: 1;
    bottom: 50%;
    left: 40%;
}

#display {
    display: flex;
    background-color: #F2F4F3;
    width: 490px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    opacity: 0.7;
    font-family: 'Silkscreen', sans-serif;
    color: #0A0908;
    font-size: 5rem;
    justify-content: center;
    align-items: center;
}

.timerBtn {
    display: inline-flex;
    margin: 5px;
    position: relative;
    background-color: #8F8073;
    color: #0A0908;
    width: 150px;
    height: 75px;
    border-radius: 10px;
    font-style: italic;
    font-weight: 900;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    padding: 25px 10px;
    cursor: pointer;
}


#clock {
    position: absolute;
    border-radius: 50%;
    width: 900px;
    height: 900px;
    animation: rotate 25s linear infinite;
    z-index: 0;
    left: 32%;
}

@keyframes rotate {
    0% {
        transform: translateY(0), rotate(0);
    }

    100% {
        transform: rotate(720deg);
    }
}